/*////////////// Fonts //////////////*/

@font-face {
    font-family: Baskerville;
    src: url(../fonts/Baskerville.ttc);
    font-weight: normal;
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
#logo h1{
  font-family: "Baskerville", serif;
  font-size: 5em;
  color: rgb(152,173,166);
}

#featured img {
  border: 5px rgb(152,173,166) solid;
}